<bar-directive></bar-directive>
<div class="photos" layout="column" scroll-directive="addImages()">
	<md-content layout layout-wrap layout-align="center">
		<md-card ng-repeat="image in images" flex="30" flex-sm="95" flex-md="35">
			<a ng-href="#/image/{{image.id}}">
				<img ng-src="{{image.url}}">
			</a>
			<md-card-title layout="column">
				<div>
					<a ng-href="#/album/{{image.albumId}}" ng-show="album">
						<md-icon md-svg-src="assets/img/ic_album_white_48px.svg"></md-icon>
					</a>
					<div class="md-title">{{image.title}} </div>
				</div>
			</md-card-title>
		</md-card>
	</md-content>
</div>
<footer-directive></footer-directive>